@charset "utf-8";
$main-view-width: 70%;
$main-view-position: left;
.main-view
{
  width: $main-view-width;
  height: 100%;
  float: $main-view-position;
  background-color: green;

#large-view
{
  clear: $main-view-position ;
  display: block;
  position: relative;
  background-image: url("/images/front.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
height: 70%;
margin: 0px;
padding: 0px;
}

}
