@charset "utf-8";
$side-bar-width: 30%;
$side-bar-position: right;
.side-bar
{

  position: relative;
  clear:$side-bar-position;
    width: $side-bar-width;
    float: $side-bar-position;
background-color: white;
vertical-align: top;
  }
